{% extends 'base.html' %}

{% block title %}{{ article.title | striptags }} | {{ SITENAME }}{% endblock %}
{% block description %}{{ article.summary | striptags }}{% endblock %}

{% block meta %}
    <!-- Twitter Cards and Open Graph -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
    <meta name="twitter:domain" content="{{ DOMAIN }}">
    <meta name="twitter:site" content="{{ TWITTER_USERNAME }}">
    <meta property="og:title" content="{{ article.title|striptags }}">
    <meta property="og:description" content="{{ article.summary|striptags }}">
    <meta property="og:image" content="{{ SITEURL }}/theme/images/avatar.png">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
{% endblock %}

{% block content %}
    <h1 class="title"><a href="/{{ article.url }}" title="Permalink to {{ article.title | striptags }}">{{ article.title }}</a></h1>
    <time class="date" datetime="{{ article.date }}">{{ article.locale_date }}</time>
    <div class="content">
        {{ article.content }}
    </div>

    {% if article.next_article or article.prev_article %}
    <div id="related-articles">
        {% if article.next_article %}
        <a href="/{{ article.next_article.url}}" id="next-neighbour">&laquo; {{ article.next_article.title | striptags }}</a>
        {% endif %}
        {% if article.prev_article %}
        <a href="/{{ article.prev_article.url}}" id="prev-neighbour">{{ article.prev_article.title | striptags }} &raquo;</a>
        {% endif %}
    </div>
    {% endif %}

    {% if article.share_post %}
    <section>
        <p id="post-share-links">
            <h4>Share on:</h4>
            <a href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter"><span class="fa fa-twitter"</span> Twitter</a>
            <a href="{{article.share_post['facebook']}}" target="_blank" title="Share on Facebook"><span class="fa fa-facebook-square"</span> Facebook</a>
            <a href="{{article.share_post['google-plus']}}" target="_blank" title="Share on Google Plus"><span class="fa fa-google-plus-square"</span> Google+</a>
            <a href="{{article.share_post['email']}}" target="_blank" title="Share via Email"><span class="fa fa-share"</span> Email</a>
        </p>
    </section>
    {% endif %}

    <hr>
    {% if DISQUS_SITENAME %}
    <div class="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_identifier = "{{ article.url }}";
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    </div>
    {% endif %}
{% endblock %}
